@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.note {
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #cccccc;
    margin: 0px 20px 0px 20px;
    padding: 2%;
}

.body {
    margin: 0;
    padding-bottom: 7%;
}

.fa-trash-o {
    padding-left: 90%;
}