.maindiv {
    width: 70%;
}
.search {
    height: 35px;
    width: 50%;
    border:1px solid #cccccc;
    border-radius: 5px;
    margin-top: 1%;
    padding-left: 2%;
    background-color: #DCDCDC;
}